#modal-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s;
    transform-origin: center center;
}

#movie-modal {
    width: 50%;
    height: 70%;
    margin: auto;
    background-color: green;
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 1;
    transition: .5s;
    transform: scale(0);
}