.category-title {
    padding-left: 20px;
    color: #f2f2f2;
}

.movie-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    clear: both;
    height: 360px;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.scroll-left, .scroll-right {
    width: 65px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    outline: none;
    border: none;
    transition: transform 1s;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .scroll-left, .scroll-right {
        visibility: hidden;
    }
}

.scroll-left svg, .scroll-right svg {
    width: 100%;
    pointer-events: none;
}

.scroll-left {
    float: left;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.scroll-right {
    float: right;
    right: 0;
}