.movie-wrapper {
    margin: 20px;
    display: table;
    min-width: 200px;
    transition: .4s;
    float: left;
}

.movie-wrapper:hover {
    transform: scale(1.2);
    /*transform-origin: center right; --- fix this for the movies at the edges*/
    z-index: 1;
}

.temp {
    width: 100%;
    height: 100%;
    transition: background-color .4s, opacity .4s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.temp:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .95);
    color: white;
}

.moviet {
    border-bottom: 1px solid rgb(45, 45, 45);
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}